@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebarScroll::-webkit-scrollbar {
  display: none;
}

.sidebarScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pages_spaces {
  @apply pt-[20px] pl-[280px] max-md:px-4 md:pr-4 max-lg:pb-[50px] lg:pb-[200px] min-h-screen;
}

.btn_icon {
  @apply w-auto h-auto p-2 rounded-xl text-[21px] bg-transparent;
}

.btn_color {
  @apply text-gray-700;
}

.Transition {
  @apply transition duration-150 ease-in-out;
}

.icon_size {
  @apply text-[21px];
}

.link_gap {
  @apply gap-4;
}
