@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebarScroll::-webkit-scrollbar {
  display: none;
}

.sidebarScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pages_spaces {
  @apply mx-4 min-h-screen pb-[100px] pt-[20px] max-sm:pt-[70px] sm:ml-[320px] sm:mr-5;
}

.sidebar {
  @apply sidebarScroll fixed left-0 z-30 flex h-screen flex-col overflow-y-auto border-r border-gray-200 bg-white;
}

.mobile-nav {
  @apply sidebarScroll fixed top-0 z-20 flex w-full items-center gap-2 overflow-auto border-b bg-white px-4 py-2 sm:hidden;
}

.btn_icon {
  @apply h-auto w-auto rounded-xl bg-transparent p-2 text-[21px];
}

.btn_color {
  @apply text-gray-700;
}

.Transition {
  @apply transition duration-150 ease-in-out;
}

.icon_size {
  @apply text-[21px];
}

.link_gap {
  @apply gap-4;
}

.h1 {
  @apply text-h1 font-black;
}

.h2 {
  @apply text-h2 font-bold;
}

.h3 {
  @apply text-h3 font-bold;
}

.h4 {
  @apply text-h4 font-bold;
}

.card {
  @apply Transition rounded-md p-3 shadow hover:bg-slate-100;
}

.Grid {
  @apply grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3;
}

.Grid2 {
  @apply grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-4;
}
